Repository redhat-openshift-ecosystem/redhat-marketplace-operators, pull requests merged in 2023-12, with the labels that each got.

#608 operator k10-kasten-operator-rhmp (5.5.4)
  operators/k10-kasten-operator-rhmp/5.5.4/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-rhmp/5.5.4/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-rhmp/5.5.4/manifests/k10-kasten-operator-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-rhmp/5.5.4/manifests/k10-kasten-operator-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-rhmp/5.5.4/manifests/k10-kasten-operator-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-rhmp/5.5.4/manifests/k10-kasten-operator-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-rhmp/5.5.4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#609 operator aerospike-kubernetes-operator-rhmp (3.2.0)
  operators/aerospike-kubernetes-operator-rhmp/3.2.0/manifests/aerospike-cluster_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator-rhmp/3.2.0/manifests/aerospike-kubernetes-operator-rhmp.clusterserviceversion.yaml
  operators/aerospike-kubernetes-operator-rhmp/3.2.0/manifests/aerospike-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aerospike-kubernetes-operator-rhmp/3.2.0/manifests/aerospike-operator-manager-config_v1_configmap.yaml
  operators/aerospike-kubernetes-operator-rhmp/3.2.0/manifests/aerospike-operator-webhook-service_v1_service.yaml
  operators/aerospike-kubernetes-operator-rhmp/3.2.0/manifests/asdb.aerospike.com_aerospikeclusters.yaml
  operators/aerospike-kubernetes-operator-rhmp/3.2.0/metadata/annotations.yaml
  operators/aerospike-kubernetes-operator-rhmp/3.2.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#611 operator stackgres (1.6.1)
  operators/stackgres/1.6.1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.6.1/manifests/stackgres-restapi_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.1/manifests/stackgres-restapi_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.6.1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.6.1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.1/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.6.1/manifests/stackgres.io_sgbackupconfigs.yaml
  operators/stackgres/1.6.1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.6.1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.6.1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.6.1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.6.1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.6.1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.6.1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.6.1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.6.1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.6.1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.6.1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.6.1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.6.1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.6.1/metadata/annotations.yaml
  operators/stackgres/1.6.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#615 operator k10-kasten-operator-term-rhmp (5.0.2)
  operators/k10-kasten-operator-term-rhmp/5.0.2/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-term-rhmp/5.0.2/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-term-rhmp/5.0.2/manifests/k10-kasten-operator-term-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-term-rhmp/5.0.2/manifests/k10-kasten-operator-term-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-term-rhmp/5.0.2/manifests/k10-kasten-operator-term-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-term-rhmp/5.0.2/manifests/k10-kasten-operator-term-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-term-rhmp/5.0.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/failed

#617 Delete operators/aimodelfactory-operator-rhmp/1.0.4 directory
  operators/aimodelfactory-operator-rhmp/1.0.4/manifests/aimodelfactory-operator-rhmp.clusterserviceversion.yaml
  operators/aimodelfactory-operator-rhmp/1.0.4/manifests/controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/aimodelfactory-operator-rhmp/1.0.4/manifests/ibm.aimodelfactory_modelfactories.yaml
  operators/aimodelfactory-operator-rhmp/1.0.4/metadata/annotations.yaml
  operators/aimodelfactory-operator-rhmp/1.0.4/tests/scorecard/config.yaml
  operators/aimodelfactory-operator-rhmp/ci.yaml
Labels: operator-hosted-pipeline/failed

#616 operator k10-kasten-operator-term-rhmp (5.5.4)
  operators/k10-kasten-operator-term-rhmp/5.5.4/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-term-rhmp/5.5.4/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-term-rhmp/5.5.4/manifests/k10-kasten-operator-term-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-term-rhmp/5.5.4/manifests/k10-kasten-operator-term-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-term-rhmp/5.5.4/manifests/k10-kasten-operator-term-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-term-rhmp/5.5.4/manifests/k10-kasten-operator-term-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-term-rhmp/5.5.4/metadata/annotations.yaml
Labels: pipeline/trigger-hosted, operator-hosted-pipeline/failed

#618 operator k10-kasten-operator-term-rhmp (5.5.5)
  operators/k10-kasten-operator-term-rhmp/5.5.5/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-term-rhmp/5.5.5/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-term-rhmp/5.5.5/manifests/k10-kasten-operator-term-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-term-rhmp/5.5.5/manifests/k10-kasten-operator-term-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-term-rhmp/5.5.5/manifests/k10-kasten-operator-term-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-term-rhmp/5.5.5/manifests/k10-kasten-operator-term-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-term-rhmp/5.5.5/metadata/annotations.yaml
Labels: pipeline/trigger-release, operator-release-pipeline/started, operator-hosted-pipeline/failed

#620 operator k10-kasten-operator-term-rhmp (6.0.0)
  operators/k10-kasten-operator-term-rhmp/6.0.0/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-term-rhmp/6.0.0/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-term-rhmp/6.0.0/manifests/k10-kasten-operator-term-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-term-rhmp/6.0.0/manifests/k10-kasten-operator-term-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-term-rhmp/6.0.0/manifests/k10-kasten-operator-term-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-term-rhmp/6.0.0/manifests/k10-kasten-operator-term-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-term-rhmp/6.0.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/failed

#621 operator k10-kasten-operator-term-rhmp (6.0.6)
  operators/k10-kasten-operator-term-rhmp/6.0.6/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-term-rhmp/6.0.6/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-term-rhmp/6.0.6/manifests/k10-kasten-operator-term-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-term-rhmp/6.0.6/manifests/k10-kasten-operator-term-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-term-rhmp/6.0.6/manifests/k10-kasten-operator-term-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-term-rhmp/6.0.6/manifests/k10-kasten-operator-term-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-term-rhmp/6.0.6/metadata/annotations.yaml
Labels: operator-hosted-pipeline/failed

#623 Remove kasten paygo bundles with skipRange
  operators/k10-kasten-operator-paygo-rhmp/5.0.2/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-paygo-rhmp/5.0.2/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-paygo-rhmp/5.0.2/manifests/k10-kasten-operator-paygo-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-paygo-rhmp/5.0.2/manifests/k10-kasten-operator-paygo-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-paygo-rhmp/5.0.2/manifests/k10-kasten-operator-paygo-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-paygo-rhmp/5.0.2/manifests/k10-kasten-operator-paygo-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-paygo-rhmp/5.0.2/metadata/annotations.yaml
  operators/k10-kasten-operator-paygo-rhmp/5.5.4/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-paygo-rhmp/5.5.4/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-paygo-rhmp/5.5.4/manifests/k10-kasten-operator-paygo-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-paygo-rhmp/5.5.4/manifests/k10-kasten-operator-paygo-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-paygo-rhmp/5.5.4/manifests/k10-kasten-operator-paygo-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-paygo-rhmp/5.5.4/manifests/k10-kasten-operator-paygo-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-paygo-rhmp/5.5.4/metadata/annotations.yaml
  operators/k10-kasten-operator-paygo-rhmp/5.5.5/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-paygo-rhmp/5.5.5/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-paygo-rhmp/5.5.5/manifests/k10-kasten-operator-paygo-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-paygo-rhmp/5.5.5/manifests/k10-kasten-operator-paygo-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-paygo-rhmp/5.5.5/manifests/k10-kasten-operator-paygo-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-paygo-rhmp/5.5.5/manifests/k10-kasten-operator-paygo-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-paygo-rhmp/5.5.5/metadata/annotations.yaml
  operators/k10-kasten-operator-paygo-rhmp/5.5.6/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-paygo-rhmp/5.5.6/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-paygo-rhmp/5.5.6/manifests/k10-kasten-operator-paygo-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-paygo-rhmp/5.5.6/manifests/k10-kasten-operator-paygo-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-paygo-rhmp/5.5.6/manifests/k10-kasten-operator-paygo-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-paygo-rhmp/5.5.6/manifests/k10-kasten-operator-paygo-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-paygo-rhmp/5.5.6/metadata/annotations.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.0.0/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.0.0/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.0.0/manifests/k10-kasten-operator-paygo-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.0.0/manifests/k10-kasten-operator-paygo-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.0.0/manifests/k10-kasten-operator-paygo-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.0.0/manifests/k10-kasten-operator-paygo-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.0.0/metadata/annotations.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.0.6/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.0.6/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.0.6/manifests/k10-kasten-operator-paygo-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.0.6/manifests/k10-kasten-operator-paygo-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.0.6/manifests/k10-kasten-operator-paygo-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.0.6/manifests/k10-kasten-operator-paygo-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.0.6/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#626 operator k10-kasten-operator-paygo-rhmp (5.5.5)
  operators/k10-kasten-operator-paygo-rhmp/5.5.5/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-paygo-rhmp/5.5.5/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-paygo-rhmp/5.5.5/manifests/k10-kasten-operator-paygo-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-paygo-rhmp/5.5.5/manifests/k10-kasten-operator-paygo-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-paygo-rhmp/5.5.5/manifests/k10-kasten-operator-paygo-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-paygo-rhmp/5.5.5/manifests/k10-kasten-operator-paygo-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-paygo-rhmp/5.5.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/failed

#627 operator k10-kasten-operator-paygo-rhmp (5.5.6)
  operators/k10-kasten-operator-paygo-rhmp/5.5.6/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-paygo-rhmp/5.5.6/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-paygo-rhmp/5.5.6/manifests/k10-kasten-operator-paygo-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-paygo-rhmp/5.5.6/manifests/k10-kasten-operator-paygo-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-paygo-rhmp/5.5.6/manifests/k10-kasten-operator-paygo-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-paygo-rhmp/5.5.6/manifests/k10-kasten-operator-paygo-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-paygo-rhmp/5.5.6/metadata/annotations.yaml
Labels: operator-hosted-pipeline/failed

#628 operator k10-kasten-operator-paygo-rhmp (6.0.0)
  operators/k10-kasten-operator-paygo-rhmp/6.0.0/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.0.0/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.0.0/manifests/k10-kasten-operator-paygo-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.0.0/manifests/k10-kasten-operator-paygo-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.0.0/manifests/k10-kasten-operator-paygo-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.0.0/manifests/k10-kasten-operator-paygo-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.0.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/failed

#631 operator crunchy-postgres-operator-rhmp (5.5.0)
  operators/crunchy-postgres-operator-rhmp/5.5.0/Dockerfile
  operators/crunchy-postgres-operator-rhmp/5.5.0/manifests/crunchy-postgres-operator-rhmp.clusterserviceversion.yaml
  operators/crunchy-postgres-operator-rhmp/5.5.0/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator-rhmp/5.5.0/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator-rhmp/5.5.0/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator-rhmp/5.5.0/metadata/annotations.yaml
  operators/crunchy-postgres-operator-rhmp/5.5.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#633 operator k10-kasten-operator-rhmp (6.5.0)
  operators/k10-kasten-operator-rhmp/6.5.0/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-rhmp/6.5.0/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-rhmp/6.5.0/manifests/k10-kasten-operator-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-rhmp/6.5.0/manifests/k10-kasten-operator-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-rhmp/6.5.0/manifests/k10-kasten-operator-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-rhmp/6.5.0/manifests/k10-kasten-operator-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-rhmp/6.5.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#634 operator k10-kasten-operator-term-rhmp (6.5.0)
  operators/k10-kasten-operator-term-rhmp/6.5.0/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-term-rhmp/6.5.0/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-term-rhmp/6.5.0/manifests/k10-kasten-operator-term-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-term-rhmp/6.5.0/manifests/k10-kasten-operator-term-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-term-rhmp/6.5.0/manifests/k10-kasten-operator-term-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-term-rhmp/6.5.0/manifests/k10-kasten-operator-term-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-term-rhmp/6.5.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#635 operator k10-kasten-operator-paygo-rhmp (6.5.0)
  operators/k10-kasten-operator-paygo-rhmp/6.5.0/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.5.0/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.5.0/manifests/k10-kasten-operator-paygo-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.5.0/manifests/k10-kasten-operator-paygo-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.5.0/manifests/k10-kasten-operator-paygo-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.5.0/manifests/k10-kasten-operator-paygo-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.5.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#636 operator joget-dx8-operator-rhmp (0.0.5)
  operators/joget-dx8-operator-rhmp/0.0.5/manifests/joget-dx8-operator-rhmp.clusterserviceversion.yaml
  operators/joget-dx8-operator-rhmp/0.0.5/manifests/jogetdx8.app.joget.com.crd.yaml
  operators/joget-dx8-operator-rhmp/0.0.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#637 operator redis-enterprise-operator-cert-rhmp (7.2.4-12.0)
  operators/redis-enterprise-operator-cert-rhmp/7.2.4-12.0/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.2.4-12.0/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.2.4-12.0/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.2.4-12.0/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.2.4-12.0/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.2.4-12.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#638 operator couchbase-enterprise-certified-rhmp (2.6.0-1)
  operators/couchbase-enterprise-certified-rhmp/2.6.0-1/manifests/couchbase-v2.6.0.clusterserviceversion.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.0-1/manifests/couchbaseautoscalers.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.0-1/manifests/couchbasebackuprestores.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.0-1/manifests/couchbasebackups.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.0-1/manifests/couchbasebuckets.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.0-1/manifests/couchbaseclusters.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.0-1/manifests/couchbasecollectiongroups.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.0-1/manifests/couchbasecollections.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.0-1/manifests/couchbaseephemeralbuckets.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.0-1/manifests/couchbasegroups.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.0-1/manifests/couchbasememcachedbuckets.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.0-1/manifests/couchbasemigrationreplications.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.0-1/manifests/couchbasereplications.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.0-1/manifests/couchbaserolebindings.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.0-1/manifests/couchbasescopegroups.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.0-1/manifests/couchbasescopes.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.0-1/manifests/couchbaseusers.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.0-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#632 Delete operators/aimodelfactory-operator-rhmp/1.0.4 directory
  operators/aimodelfactory-operator-rhmp/1.0.4/manifests/aimodelfactory-operator-rhmp.clusterserviceversion.yaml
  operators/aimodelfactory-operator-rhmp/1.0.4/manifests/controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/aimodelfactory-operator-rhmp/1.0.4/manifests/ibm.aimodelfactory_modelfactories.yaml
  operators/aimodelfactory-operator-rhmp/1.0.4/metadata/annotations.yaml
  operators/aimodelfactory-operator-rhmp/1.0.4/tests/scorecard/config.yaml
  operators/aimodelfactory-operator-rhmp/ci.yaml
Labels: operator-hosted-pipeline/failed

#641 operator k10-kasten-operator-rhmp (6.5.1)
  operators/k10-kasten-operator-rhmp/6.5.1/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-rhmp/6.5.1/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-rhmp/6.5.1/manifests/k10-kasten-operator-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-rhmp/6.5.1/manifests/k10-kasten-operator-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-rhmp/6.5.1/manifests/k10-kasten-operator-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-rhmp/6.5.1/manifests/k10-kasten-operator-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-rhmp/6.5.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#642 operator k10-kasten-operator-term-rhmp (6.5.1)
  operators/k10-kasten-operator-term-rhmp/6.5.1/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-term-rhmp/6.5.1/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-term-rhmp/6.5.1/manifests/k10-kasten-operator-term-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-term-rhmp/6.5.1/manifests/k10-kasten-operator-term-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-term-rhmp/6.5.1/manifests/k10-kasten-operator-term-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-term-rhmp/6.5.1/manifests/k10-kasten-operator-term-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-term-rhmp/6.5.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#643 operator k10-kasten-operator-paygo-rhmp (6.5.1)
  operators/k10-kasten-operator-paygo-rhmp/6.5.1/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.5.1/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.5.1/manifests/k10-kasten-operator-paygo-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.5.1/manifests/k10-kasten-operator-paygo-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.5.1/manifests/k10-kasten-operator-paygo-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.5.1/manifests/k10-kasten-operator-paygo-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.5.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#645 operator joget-dx8-operator-rhmp (0.0.6)
  operators/joget-dx8-operator-rhmp/0.0.6/manifests/joget-dx8-operator-rhmp.clusterserviceversion.yaml
  operators/joget-dx8-operator-rhmp/0.0.6/manifests/jogetdx8.app.joget.com.crd.yaml
  operators/joget-dx8-operator-rhmp/0.0.6/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#640 operator datadog-operator-certified-rhmp (1.3.0)
  operators/datadog-operator-certified-rhmp/1.3.0/manifests/datadog-operator-certified-rhmp.clusterserviceversion.yaml
  operators/datadog-operator-certified-rhmp/1.3.0/manifests/datadog-operator-webhook-service_v1_service.yaml
  operators/datadog-operator-certified-rhmp/1.3.0/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator-certified-rhmp/1.3.0/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator-certified-rhmp/1.3.0/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator-certified-rhmp/1.3.0/manifests/datadoghq.com_datadogslos.yaml
  operators/datadog-operator-certified-rhmp/1.3.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started
