Repository redhat-openshift-ecosystem/redhat-marketplace-operators, pull requests merged in 2023-11, with the labels that each got.

#585 operator vfunction-server-operator-rhmp (v3.2.1216)
  operators/vfunction-server-operator-rhmp/v3.2.1216/manifests/vfunction-server-operator-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/vfunction-server-operator-rhmp/v3.2.1216/manifests/vfunction-server-operator-rhmp-manager-config_v1_configmap.yaml
  operators/vfunction-server-operator-rhmp/v3.2.1216/manifests/vfunction-server-operator-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vfunction-server-operator-rhmp/v3.2.1216/manifests/vfunction-server-operator-rhmp.clusterserviceversion.yaml
  operators/vfunction-server-operator-rhmp/v3.2.1216/manifests/vfunctionservers.vfunction.com.crd.yaml
  operators/vfunction-server-operator-rhmp/v3.2.1216/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#586 operator stackgres (1.6.0-rc1)
  operators/stackgres/1.6.0-rc1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres-restapi_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres-restapi_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.6.0-rc1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.6.0-rc1/metadata/annotations.yaml
  operators/stackgres/1.6.0-rc1/tests/scorecard/config.yaml
  operators/stackgres/ci.yaml
Labels: operator-hosted-pipeline/started

#587 operator vfunction-server-operator-rhmp (v3.2.1220)
  operators/vfunction-server-operator-rhmp/v3.2.1220/manifests/vfunction-server-operator-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/vfunction-server-operator-rhmp/v3.2.1220/manifests/vfunction-server-operator-rhmp-manager-config_v1_configmap.yaml
  operators/vfunction-server-operator-rhmp/v3.2.1220/manifests/vfunction-server-operator-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vfunction-server-operator-rhmp/v3.2.1220/manifests/vfunction-server-operator-rhmp.clusterserviceversion.yaml
  operators/vfunction-server-operator-rhmp/v3.2.1220/manifests/vfunctionservers.vfunction.com.crd.yaml
  operators/vfunction-server-operator-rhmp/v3.2.1220/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#588 operator k10-kasten-operator-rhmp (6.0.12)
  operators/k10-kasten-operator-rhmp/6.0.12/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-rhmp/6.0.12/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-rhmp/6.0.12/manifests/k10-kasten-operator-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-rhmp/6.0.12/manifests/k10-kasten-operator-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-rhmp/6.0.12/manifests/k10-kasten-operator-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-rhmp/6.0.12/manifests/k10-kasten-operator-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-rhmp/6.0.12/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#589 operator k10-kasten-operator-term-rhmp (6.0.12)
  operators/k10-kasten-operator-term-rhmp/6.0.12/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-term-rhmp/6.0.12/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-term-rhmp/6.0.12/manifests/k10-kasten-operator-term-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-term-rhmp/6.0.12/manifests/k10-kasten-operator-term-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-term-rhmp/6.0.12/manifests/k10-kasten-operator-term-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-term-rhmp/6.0.12/manifests/k10-kasten-operator-term-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-term-rhmp/6.0.12/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#591 operator k10-kasten-operator-paygo-rhmp (6.0.12)
  operators/k10-kasten-operator-paygo-rhmp/6.0.12/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.0.12/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.0.12/manifests/k10-kasten-operator-paygo-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.0.12/manifests/k10-kasten-operator-paygo-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.0.12/manifests/k10-kasten-operator-paygo-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.0.12/manifests/k10-kasten-operator-paygo-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.0.12/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#590 operator stackgres (1.6.0-rc2)
  operators/stackgres/1.6.0-rc2/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres-restapi_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres-restapi_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.6.0-rc2/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.6.0-rc2/metadata/annotations.yaml
  operators/stackgres/1.6.0-rc2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#592 operator stackgres (1.6.0)
  operators/stackgres/1.6.0/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.0/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.6.0/manifests/stackgres-restapi_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.0/manifests/stackgres-restapi_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.6.0/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.6.0/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.0/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.0/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.6.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.6.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.6.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.6.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.6.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.6.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.6.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.6.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.6.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.6.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.6.0/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.6.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.6.0/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.6.0/metadata/annotations.yaml
  operators/stackgres/1.6.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#593 operator falcon-operator-rhmp (v0.9.1)
  operators/falcon-operator-rhmp/v0.9.1/manifests/falcon-operator-admission-controller-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator-rhmp/v0.9.1/manifests/falcon-operator-container-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator-rhmp/v0.9.1/manifests/falcon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/falcon-operator-rhmp/v0.9.1/manifests/falcon-operator-falconcontainer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator-rhmp/v0.9.1/manifests/falcon-operator-manager-config_v1_configmap.yaml
  operators/falcon-operator-rhmp/v0.9.1/manifests/falcon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator-rhmp/v0.9.1/manifests/falcon-operator-node-sensor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator-rhmp/v0.9.1/manifests/falcon-operator-node-sensor-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/falcon-operator-rhmp/v0.9.1/manifests/falcon-operator-node-sensor_v1_serviceaccount.yaml
  operators/falcon-operator-rhmp/v0.9.1/manifests/falcon-operator.clusterserviceversion.yaml
  operators/falcon-operator-rhmp/v0.9.1/manifests/falcon.crowdstrike.com_falconadmissions.yaml
  operators/falcon-operator-rhmp/v0.9.1/manifests/falcon.crowdstrike.com_falconcontainers.yaml
  operators/falcon-operator-rhmp/v0.9.1/manifests/falcon.crowdstrike.com_falconnodesensors.yaml
  operators/falcon-operator-rhmp/v0.9.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#594 operator vfunction-server-operator-rhmp (v3.2.1228)
  operators/vfunction-server-operator-rhmp/v3.2.1228/manifests/vfunction-server-operator-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/vfunction-server-operator-rhmp/v3.2.1228/manifests/vfunction-server-operator-rhmp-manager-config_v1_configmap.yaml
  operators/vfunction-server-operator-rhmp/v3.2.1228/manifests/vfunction-server-operator-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vfunction-server-operator-rhmp/v3.2.1228/manifests/vfunction-server-operator-rhmp.clusterserviceversion.yaml
  operators/vfunction-server-operator-rhmp/v3.2.1228/manifests/vfunctionservers.vfunction.com.crd.yaml
  operators/vfunction-server-operator-rhmp/v3.2.1228/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#595 operator dynatrace-operator-rhmp (0.14.2)
  operators/dynatrace-operator-rhmp/0.14.2/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator-rhmp/0.14.2/manifests/dynatrace-operator-rhmp.clusterserviceversion.yaml
  operators/dynatrace-operator-rhmp/0.14.2/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator-rhmp/0.14.2/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator-rhmp/0.14.2/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator-rhmp/0.14.2/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator-rhmp/0.14.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#596 Remove k10-kasten-operator-rhmp skipRange bundles
  operators/k10-kasten-operator-rhmp/5.0.2/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-rhmp/5.0.2/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-rhmp/5.0.2/manifests/k10-kasten-operator-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-rhmp/5.0.2/manifests/k10-kasten-operator-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-rhmp/5.0.2/manifests/k10-kasten-operator-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-rhmp/5.0.2/manifests/k10-kasten-operator-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-rhmp/5.0.2/metadata/annotations.yaml
  operators/k10-kasten-operator-rhmp/5.5.5/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-rhmp/5.5.5/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-rhmp/5.5.5/manifests/k10-kasten-operator-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-rhmp/5.5.5/manifests/k10-kasten-operator-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-rhmp/5.5.5/manifests/k10-kasten-operator-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-rhmp/5.5.5/manifests/k10-kasten-operator-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-rhmp/5.5.5/metadata/annotations.yaml
  operators/k10-kasten-operator-rhmp/5.5.6/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-rhmp/5.5.6/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-rhmp/5.5.6/manifests/k10-kasten-operator-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-rhmp/5.5.6/manifests/k10-kasten-operator-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-rhmp/5.5.6/manifests/k10-kasten-operator-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-rhmp/5.5.6/manifests/k10-kasten-operator-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-rhmp/5.5.6/metadata/annotations.yaml
  operators/k10-kasten-operator-rhmp/6.0.0/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-rhmp/6.0.0/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-rhmp/6.0.0/manifests/k10-kasten-operator-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-rhmp/6.0.0/manifests/k10-kasten-operator-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-rhmp/6.0.0/manifests/k10-kasten-operator-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-rhmp/6.0.0/manifests/k10-kasten-operator-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-rhmp/6.0.0/metadata/annotations.yaml
  operators/k10-kasten-operator-rhmp/6.0.6/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-rhmp/6.0.6/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-rhmp/6.0.6/manifests/k10-kasten-operator-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-rhmp/6.0.6/manifests/k10-kasten-operator-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-rhmp/6.0.6/manifests/k10-kasten-operator-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-rhmp/6.0.6/manifests/k10-kasten-operator-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-rhmp/6.0.6/metadata/annotations.yaml
Labels: operator-hosted-pipeline/failed

#597 operator k10-kasten-operator-rhmp (5.0.2)
  operators/k10-kasten-operator-rhmp/5.0.2/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-rhmp/5.0.2/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-rhmp/5.0.2/manifests/k10-kasten-operator-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-rhmp/5.0.2/manifests/k10-kasten-operator-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-rhmp/5.0.2/manifests/k10-kasten-operator-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-rhmp/5.0.2/manifests/k10-kasten-operator-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-rhmp/5.0.2/metadata/annotations.yaml
Labels: pipeline/trigger-hosted, operator-hosted-pipeline/failed

#598 operator k10-kasten-operator-rhmp (5.5.5)
  operators/k10-kasten-operator-rhmp/5.5.5/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-rhmp/5.5.5/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-rhmp/5.5.5/manifests/k10-kasten-operator-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-rhmp/5.5.5/manifests/k10-kasten-operator-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-rhmp/5.5.5/manifests/k10-kasten-operator-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-rhmp/5.5.5/manifests/k10-kasten-operator-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-rhmp/5.5.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/failed

#599 operator k10-kasten-operator-rhmp (5.5.6)
  operators/k10-kasten-operator-rhmp/5.5.6/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-rhmp/5.5.6/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-rhmp/5.5.6/manifests/k10-kasten-operator-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-rhmp/5.5.6/manifests/k10-kasten-operator-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-rhmp/5.5.6/manifests/k10-kasten-operator-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-rhmp/5.5.6/manifests/k10-kasten-operator-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-rhmp/5.5.6/metadata/annotations.yaml
Labels: operator-hosted-pipeline/failed

#600 operator k10-kasten-operator-rhmp (6.0.0)
  operators/k10-kasten-operator-rhmp/6.0.0/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-rhmp/6.0.0/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-rhmp/6.0.0/manifests/k10-kasten-operator-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-rhmp/6.0.0/manifests/k10-kasten-operator-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-rhmp/6.0.0/manifests/k10-kasten-operator-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-rhmp/6.0.0/manifests/k10-kasten-operator-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-rhmp/6.0.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/failed

#601 operator k10-kasten-operator-rhmp (6.0.6)
  operators/k10-kasten-operator-rhmp/6.0.6/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-rhmp/6.0.6/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-rhmp/6.0.6/manifests/k10-kasten-operator-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-rhmp/6.0.6/manifests/k10-kasten-operator-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-rhmp/6.0.6/manifests/k10-kasten-operator-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-rhmp/6.0.6/manifests/k10-kasten-operator-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-rhmp/6.0.6/metadata/annotations.yaml
Labels: pipeline/trigger-release, operator-hosted-pipeline/failed, operator-release-pipeline/failed

#603 operator redis-enterprise-operator-cert-rhmp (6.4.2-8.1)
  operators/redis-enterprise-operator-cert-rhmp/6.4.2-8.1/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/6.4.2-8.1/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/6.4.2-8.1/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/6.4.2-8.1/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert-rhmp/6.4.2-8.1/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/6.4.2-8.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/failed

#602 operator minio-operator-rhmp (5.0.11)
  operators/minio-operator-rhmp/5.0.11/manifests/console-env_v1_configmap.yaml
  operators/minio-operator-rhmp/5.0.11/manifests/console-sa-secret_v1_secret.yaml
  operators/minio-operator-rhmp/5.0.11/manifests/console_v1_service.yaml
  operators/minio-operator-rhmp/5.0.11/manifests/minio-operator-rhmp.clusterserviceversion.yaml
  operators/minio-operator-rhmp/5.0.11/manifests/minio.min.io_tenants.yaml
  operators/minio-operator-rhmp/5.0.11/manifests/operator_v1_service.yaml
  operators/minio-operator-rhmp/5.0.11/manifests/sts.min.io_policybindings.yaml
  operators/minio-operator-rhmp/5.0.11/manifests/sts_v1_service.yaml
  operators/minio-operator-rhmp/5.0.11/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#606 operator crunchy-postgres-operator-rhmp (5.5.0)
  operators/crunchy-postgres-operator-rhmp/5.5.0/Dockerfile
  operators/crunchy-postgres-operator-rhmp/5.5.0/licenses/TERMS
  operators/crunchy-postgres-operator-rhmp/5.5.0/manifests/crunchy-postgres-operator-rhmp.clusterserviceversion.yaml
  operators/crunchy-postgres-operator-rhmp/5.5.0/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator-rhmp/5.5.0/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator-rhmp/5.5.0/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator-rhmp/5.5.0/metadata/annotations.yaml
  operators/crunchy-postgres-operator-rhmp/5.5.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started
