Repository redhat-openshift-ecosystem/redhat-marketplace-operators, pull requests merged in 2024-07, with the labels that each got.

#796 operator k10-kasten-operator-rhmp (7.0.3)
  operators/k10-kasten-operator-rhmp/7.0.3/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-rhmp/7.0.3/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-rhmp/7.0.3/manifests/k10-kasten-operator-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-rhmp/7.0.3/manifests/k10-kasten-operator-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-rhmp/7.0.3/manifests/k10-kasten-operator-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-rhmp/7.0.3/manifests/k10-kasten-operator-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-rhmp/7.0.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#797 operator k10-kasten-operator-term-rhmp (7.0.3)
  operators/k10-kasten-operator-term-rhmp/7.0.3/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-term-rhmp/7.0.3/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-term-rhmp/7.0.3/manifests/k10-kasten-operator-term-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-term-rhmp/7.0.3/manifests/k10-kasten-operator-term-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-term-rhmp/7.0.3/manifests/k10-kasten-operator-term-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-term-rhmp/7.0.3/manifests/k10-kasten-operator-term-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-term-rhmp/7.0.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#798 operator k10-kasten-operator-paygo-rhmp (7.0.3)
  operators/k10-kasten-operator-paygo-rhmp/7.0.3/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.0.3/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.0.3/manifests/k10-kasten-operator-paygo-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.0.3/manifests/k10-kasten-operator-paygo-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.0.3/manifests/k10-kasten-operator-paygo-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.0.3/manifests/k10-kasten-operator-paygo-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.0.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#795 operator instana-agent-operator-rhmp (2.1.2)
  operators/instana-agent-operator-rhmp/2.1.2/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator-rhmp/2.1.2/manifests/instana-agent-operator-rhmp.clusterserviceversion.yaml
  operators/instana-agent-operator-rhmp/2.1.2/manifests/instana.io_agents.yaml
  operators/instana-agent-operator-rhmp/2.1.2/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator-rhmp/2.1.2/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator-rhmp/2.1.2/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator-rhmp/2.1.2/metadata/annotations.yaml
  operators/instana-agent-operator-rhmp/2.1.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#799 operator couchbase-enterprise-certified-rhmp (2.6.4-3)
  operators/couchbase-enterprise-certified-rhmp/2.6.4-3/manifests/couchbase-v2.6.4.clusterserviceversion.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.4-3/manifests/couchbaseautoscalers.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.4-3/manifests/couchbasebackuprestores.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.4-3/manifests/couchbasebackups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.4-3/manifests/couchbasebuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.4-3/manifests/couchbaseclusters.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.4-3/manifests/couchbasecollectiongroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.4-3/manifests/couchbasecollections.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.4-3/manifests/couchbaseephemeralbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.4-3/manifests/couchbasegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.4-3/manifests/couchbasememcachedbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.4-3/manifests/couchbasemigrationreplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.4-3/manifests/couchbasereplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.4-3/manifests/couchbaserolebindings.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.4-3/manifests/couchbasescopegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.4-3/manifests/couchbasescopes.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.4-3/manifests/couchbaseusers.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.4-3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#803 operator k10-kasten-operator-paygo-rhmp (7.0.4)
  operators/k10-kasten-operator-paygo-rhmp/7.0.4/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.0.4/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.0.4/manifests/k10-kasten-operator-paygo-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.0.4/manifests/k10-kasten-operator-paygo-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.0.4/manifests/k10-kasten-operator-paygo-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.0.4/manifests/k10-kasten-operator-paygo-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.0.4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#800 operator percona-server-mongodb-operator-certified-rhmp (1.16.1)
  operators/percona-server-mongodb-operator-certified-rhmp/1.16.1/manifests/percona-server-mongodb-operator.v1.16.1.clusterserviceversion.yaml
  operators/percona-server-mongodb-operator-certified-rhmp/1.16.1/manifests/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator-certified-rhmp/1.16.1/manifests/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator-certified-rhmp/1.16.1/manifests/perconaservermongodbs.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator-certified-rhmp/1.16.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#804 operator instana-agent-operator-rhmp (v2.1.3)
  operators/instana-agent-operator-rhmp/v2.1.3/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator-rhmp/v2.1.3/manifests/instana-agent-operator-rhmp.clusterserviceversion.yaml
  operators/instana-agent-operator-rhmp/v2.1.3/manifests/instana.io_agents.yaml
  operators/instana-agent-operator-rhmp/v2.1.3/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator-rhmp/v2.1.3/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator-rhmp/v2.1.3/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator-rhmp/v2.1.3/metadata/annotations.yaml
  operators/instana-agent-operator-rhmp/v2.1.3/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#805 operator stackgres (1.12.0-rc1)
  operators/stackgres/1.12.0-rc1/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.12.0-rc1/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres/1.12.0-rc1/metadata/annotations.yaml
  operators/stackgres/1.12.0-rc1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#806 operator dynatrace-operator-rhmp (1.2.1)
  operators/dynatrace-operator-rhmp/1.2.1/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator-rhmp/1.2.1/manifests/dynatrace-operator-rhmp.clusterserviceversion.yaml
  operators/dynatrace-operator-rhmp/1.2.1/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator-rhmp/1.2.1/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator-rhmp/1.2.1/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator-rhmp/1.2.1/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator-rhmp/1.2.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#807 operator stackgres (1.12.0)
  operators/stackgres/1.12.0/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.12.0/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.12.0/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.12.0/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.12.0/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.12.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.12.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.12.0/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.12.0/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.12.0/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres/1.12.0/metadata/annotations.yaml
  operators/stackgres/1.12.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#809 adding sumologic operator to check name ignore list
  config.yaml
Labels: lgtm

#810 operator redis-enterprise-operator-cert-rhmp (7.4.6-2.0)
  operators/redis-enterprise-operator-cert-rhmp/7.4.6-2.0/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.4.6-2.0/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.4.6-2.0/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.4.6-2.0/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.4.6-2.0/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.4.6-2.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#811 operator k10-kasten-operator-rhmp (7.0.5)
  operators/k10-kasten-operator-rhmp/7.0.5/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-rhmp/7.0.5/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-rhmp/7.0.5/manifests/k10-kasten-operator-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-rhmp/7.0.5/manifests/k10-kasten-operator-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-rhmp/7.0.5/manifests/k10-kasten-operator-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-rhmp/7.0.5/manifests/k10-kasten-operator-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-rhmp/7.0.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#812 operator k10-kasten-operator-term-rhmp (7.0.5)
  operators/k10-kasten-operator-term-rhmp/7.0.5/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-term-rhmp/7.0.5/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-term-rhmp/7.0.5/manifests/k10-kasten-operator-term-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-term-rhmp/7.0.5/manifests/k10-kasten-operator-term-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-term-rhmp/7.0.5/manifests/k10-kasten-operator-term-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-term-rhmp/7.0.5/manifests/k10-kasten-operator-term-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-term-rhmp/7.0.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#813 operator k10-kasten-operator-paygo-rhmp (7.0.5)
  operators/k10-kasten-operator-paygo-rhmp/7.0.5/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.0.5/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.0.5/manifests/k10-kasten-operator-paygo-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.0.5/manifests/k10-kasten-operator-paygo-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.0.5/manifests/k10-kasten-operator-paygo-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.0.5/manifests/k10-kasten-operator-paygo-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.0.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#814 operator instana-agent-operator-rhmp (v2.1.4)
  operators/instana-agent-operator-rhmp/v2.1.4/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator-rhmp/v2.1.4/manifests/instana-agent-operator-rhmp.clusterserviceversion.yaml
  operators/instana-agent-operator-rhmp/v2.1.4/manifests/instana.io_agents.yaml
  operators/instana-agent-operator-rhmp/v2.1.4/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator-rhmp/v2.1.4/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator-rhmp/v2.1.4/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator-rhmp/v2.1.4/metadata/annotations.yaml
  operators/instana-agent-operator-rhmp/v2.1.4/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#815 operator instana-agent-operator-rhmp (v2.1.5)
  operators/instana-agent-operator-rhmp/v2.1.5/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator-rhmp/v2.1.5/manifests/instana-agent-operator-rhmp.clusterserviceversion.yaml
  operators/instana-agent-operator-rhmp/v2.1.5/manifests/instana.io_agents.yaml
  operators/instana-agent-operator-rhmp/v2.1.5/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator-rhmp/v2.1.5/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator-rhmp/v2.1.5/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator-rhmp/v2.1.5/metadata/annotations.yaml
  operators/instana-agent-operator-rhmp/v2.1.5/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#816 operator percona-postgresql-operator-certified-rhmp (2.4.0)
  operators/percona-postgresql-operator-certified-rhmp/2.4.0/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified-rhmp/2.4.0/manifests/percona-postgresql-operator.v2.4.0.clusterserviceversion.yaml
  operators/percona-postgresql-operator-certified-rhmp/2.4.0/manifests/perconapgbackups.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified-rhmp/2.4.0/manifests/perconapgclusters.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified-rhmp/2.4.0/manifests/perconapgrestores.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified-rhmp/2.4.0/manifests/perconapgupgrades.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified-rhmp/2.4.0/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified-rhmp/2.4.0/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified-rhmp/2.4.0/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified-rhmp/2.4.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#771 operator ovms-operator-rhmp (1.2.0)
  operators/ovms-operator-rhmp/1.2.0/manifests/intel.com_model_servers.yaml
  operators/ovms-operator-rhmp/1.2.0/manifests/intel.com_notebooks.yaml
  operators/ovms-operator-rhmp/1.2.0/manifests/openvino-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ovms-operator-rhmp/1.2.0/manifests/openvino-operator-manager-config_v1_configmap.yaml
  operators/ovms-operator-rhmp/1.2.0/manifests/openvino-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ovms-operator-rhmp/1.2.0/manifests/openvino-operator.clusterserviceversion.yaml
  operators/ovms-operator-rhmp/1.2.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started
