Repository redhat-openshift-ecosystem/redhat-marketplace-operators, pull requests merged in 2024-10, with the labels that each got.

#868 operator couchbase-enterprise-certified-rhmp (2.6.2-2)
  operators/couchbase-enterprise-certified-rhmp/2.6.2-2/manifests/couchbase-v2.6.2.clusterserviceversion.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-2/manifests/couchbaseautoscalers.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-2/manifests/couchbasebackuprestores.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-2/manifests/couchbasebackups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-2/manifests/couchbasebuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-2/manifests/couchbaseclusters.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-2/manifests/couchbasecollectiongroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-2/manifests/couchbasecollections.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-2/manifests/couchbaseephemeralbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-2/manifests/couchbasegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-2/manifests/couchbasememcachedbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-2/manifests/couchbasemigrationreplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-2/manifests/couchbasereplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-2/manifests/couchbaserolebindings.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-2/manifests/couchbasescopegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-2/manifests/couchbasescopes.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-2/manifests/couchbaseusers.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#869 operator instana-agent-operator-rhmp (2.1.9)
  operators/instana-agent-operator-rhmp/2.1.9/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator-rhmp/2.1.9/manifests/instana-agent-operator-rhmp.clusterserviceversion.yaml
  operators/instana-agent-operator-rhmp/2.1.9/manifests/instana.io_agents.yaml
  operators/instana-agent-operator-rhmp/2.1.9/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator-rhmp/2.1.9/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator-rhmp/2.1.9/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator-rhmp/2.1.9/metadata/annotations.yaml
  operators/instana-agent-operator-rhmp/2.1.9/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#867 operator abot-operator-rhmp (3.0.0)
  operators/abot-operator-rhmp/3.0.0/manifests/abot-operator-controller-manager-metrics-service_v1_service.yaml
  operators/abot-operator-rhmp/3.0.0/manifests/abot-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/abot-operator-rhmp/3.0.0/manifests/abot-operator-rhmp.clusterserviceversion.yaml
  operators/abot-operator-rhmp/3.0.0/manifests/abot.com_abots.yaml
  operators/abot-operator-rhmp/3.0.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name, tests/skips/check_pruned_graph

#871 operator k10-kasten-operator-rhmp (7.0.11)
  operators/k10-kasten-operator-rhmp/7.0.11/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-rhmp/7.0.11/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-rhmp/7.0.11/manifests/k10-kasten-operator-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-rhmp/7.0.11/manifests/k10-kasten-operator-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-rhmp/7.0.11/manifests/k10-kasten-operator-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-rhmp/7.0.11/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#872 operator k10-kasten-operator-term-rhmp (7.0.11)
  operators/k10-kasten-operator-term-rhmp/7.0.11/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-term-rhmp/7.0.11/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-term-rhmp/7.0.11/manifests/k10-kasten-operator-term-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-term-rhmp/7.0.11/manifests/k10-kasten-operator-term-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-term-rhmp/7.0.11/manifests/k10-kasten-operator-term-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-term-rhmp/7.0.11/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#873 operator k10-kasten-operator-paygo-rhmp (7.0.11)
  operators/k10-kasten-operator-paygo-rhmp/7.0.11/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.0.11/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.0.11/manifests/k10-kasten-operator-paygo-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.0.11/manifests/k10-kasten-operator-paygo-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.0.11/manifests/k10-kasten-operator-paygo-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.0.11/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#874 operator dynatrace-operator-rhmp (1.3.1)
  operators/dynatrace-operator-rhmp/1.3.1/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator-rhmp/1.3.1/manifests/dynatrace-operator-rhmp.clusterserviceversion.yaml
  operators/dynatrace-operator-rhmp/1.3.1/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator-rhmp/1.3.1/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator-rhmp/1.3.1/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator-rhmp/1.3.1/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator-rhmp/1.3.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#877 operator redis-enterprise-operator-cert-rhmp (6.4.2-8.10)
  operators/redis-enterprise-operator-cert-rhmp/6.4.2-8.10/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/6.4.2-8.10/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/6.4.2-8.10/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/6.4.2-8.10/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert-rhmp/6.4.2-8.10/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/6.4.2-8.10/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#878 operator redis-enterprise-operator-cert-rhmp (7.4.6-2.4)
  operators/redis-enterprise-operator-cert-rhmp/7.4.6-2.4/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.4.6-2.4/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.4.6-2.4/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.4.6-2.4/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.4.6-2.4/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.4.6-2.4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#879 operator crunchy-postgres-operator-rhmp (5.7.0)
  operators/crunchy-postgres-operator-rhmp/5.7.0/Dockerfile
  operators/crunchy-postgres-operator-rhmp/5.7.0/manifests/crunchy-postgres-operator-rhmp.clusterserviceversion.yaml
  operators/crunchy-postgres-operator-rhmp/5.7.0/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator-rhmp/5.7.0/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator-rhmp/5.7.0/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator-rhmp/5.7.0/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator-rhmp/5.7.0/metadata/annotations.yaml
  operators/crunchy-postgres-operator-rhmp/5.7.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#880 operator aerospike-kubernetes-operator-rhmp (3.4.0)
  operators/aerospike-kubernetes-operator-rhmp/3.4.0/manifests/aerospike-cluster_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator-rhmp/3.4.0/manifests/aerospike-kubernetes-operator.clusterserviceversion.yaml
  operators/aerospike-kubernetes-operator-rhmp/3.4.0/manifests/aerospike-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aerospike-kubernetes-operator-rhmp/3.4.0/manifests/aerospike-operator-manager-config_v1_configmap.yaml
  operators/aerospike-kubernetes-operator-rhmp/3.4.0/manifests/aerospike-operator-webhook-service_v1_service.yaml
  operators/aerospike-kubernetes-operator-rhmp/3.4.0/manifests/asdb.aerospike.com_aerospikebackups.yaml
  operators/aerospike-kubernetes-operator-rhmp/3.4.0/manifests/asdb.aerospike.com_aerospikebackupservices.yaml
  operators/aerospike-kubernetes-operator-rhmp/3.4.0/manifests/asdb.aerospike.com_aerospikeclusters.yaml
  operators/aerospike-kubernetes-operator-rhmp/3.4.0/manifests/asdb.aerospike.com_aerospikerestores.yaml
  operators/aerospike-kubernetes-operator-rhmp/3.4.0/metadata/annotations.yaml
  operators/aerospike-kubernetes-operator-rhmp/3.4.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#881 operator couchbase-enterprise-certified-rhmp (2.6.2-3)
  operators/couchbase-enterprise-certified-rhmp/2.6.2-3/manifests/couchbase-v2.6.2.clusterserviceversion.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-3/manifests/couchbaseautoscalers.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-3/manifests/couchbasebackuprestores.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-3/manifests/couchbasebackups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-3/manifests/couchbasebuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-3/manifests/couchbaseclusters.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-3/manifests/couchbasecollectiongroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-3/manifests/couchbasecollections.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-3/manifests/couchbaseephemeralbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-3/manifests/couchbasegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-3/manifests/couchbasememcachedbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-3/manifests/couchbasemigrationreplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-3/manifests/couchbasereplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-3/manifests/couchbaserolebindings.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-3/manifests/couchbasescopegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-3/manifests/couchbasescopes.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-3/manifests/couchbaseusers.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#882 operator redis-enterprise-operator-cert-rhmp (7.2.4-12.21)
  operators/redis-enterprise-operator-cert-rhmp/7.2.4-12.21/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.2.4-12.21/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.2.4-12.21/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.2.4-12.21/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.2.4-12.21/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.2.4-12.21/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#884 operator redis-enterprise-operator-cert-rhmp (7.2.4-12.22)
  operators/redis-enterprise-operator-cert-rhmp/7.2.4-12.22/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.2.4-12.22/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.2.4-12.22/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.2.4-12.22/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.2.4-12.22/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.2.4-12.22/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#885 operator k10-kasten-operator-rhmp (7.0.12)
  operators/k10-kasten-operator-rhmp/7.0.12/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-rhmp/7.0.12/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-rhmp/7.0.12/manifests/k10-kasten-operator-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-rhmp/7.0.12/manifests/k10-kasten-operator-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-rhmp/7.0.12/manifests/k10-kasten-operator-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-rhmp/7.0.12/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#886 operator k10-kasten-operator-term-rhmp (7.0.12)
  operators/k10-kasten-operator-term-rhmp/7.0.12/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-term-rhmp/7.0.12/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-term-rhmp/7.0.12/manifests/k10-kasten-operator-term-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-term-rhmp/7.0.12/manifests/k10-kasten-operator-term-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-term-rhmp/7.0.12/manifests/k10-kasten-operator-term-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-term-rhmp/7.0.12/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#887 operator k10-kasten-operator-paygo-rhmp (7.0.12)
  operators/k10-kasten-operator-paygo-rhmp/7.0.12/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.0.12/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.0.12/manifests/k10-kasten-operator-paygo-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.0.12/manifests/k10-kasten-operator-paygo-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.0.12/manifests/k10-kasten-operator-paygo-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.0.12/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#888 operator dynatrace-operator-rhmp (1.3.2)
  operators/dynatrace-operator-rhmp/1.3.2/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator-rhmp/1.3.2/manifests/dynatrace-operator-rhmp.clusterserviceversion.yaml
  operators/dynatrace-operator-rhmp/1.3.2/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator-rhmp/1.3.2/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator-rhmp/1.3.2/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator-rhmp/1.3.2/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator-rhmp/1.3.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#889 operator stackgres (1.14.0-rc1)
  operators/stackgres/1.14.0-rc1/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.14.0-rc1/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres/1.14.0-rc1/metadata/annotations.yaml
  operators/stackgres/1.14.0-rc1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#891 operator redis-enterprise-operator-cert-rhmp (7.4.6-2.8)
  operators/redis-enterprise-operator-cert-rhmp/7.4.6-2.8/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.4.6-2.8/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.4.6-2.8/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.4.6-2.8/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.4.6-2.8/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.4.6-2.8/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#892 operator stackgres (1.14.0-rc2)
  operators/stackgres/1.14.0-rc2/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.14.0-rc2/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres/1.14.0-rc2/metadata/annotations.yaml
  operators/stackgres/1.14.0-rc2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started
