Repository redhat-openshift-ecosystem/redhat-marketplace-operators, pull requests merged in 2024-09, with the labels that each got.

#834 operator instana-agent-operator-rhmp (v2.1.8)
  operators/instana-agent-operator-rhmp/v2.1.8/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator-rhmp/v2.1.8/manifests/instana-agent-operator-rhmp.clusterserviceversion.yaml
  operators/instana-agent-operator-rhmp/v2.1.8/manifests/instana.io_agents.yaml
  operators/instana-agent-operator-rhmp/v2.1.8/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator-rhmp/v2.1.8/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator-rhmp/v2.1.8/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator-rhmp/v2.1.8/metadata/annotations.yaml
  operators/instana-agent-operator-rhmp/v2.1.8/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#836 operator stackgres (1.5.0)
  operators/stackgres/1.5.0/manifests/stackgres-helm-controller-manager-metrics-service_v1_service.yaml
  operators/stackgres/1.5.0/manifests/stackgres-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.5.0/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.5.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.5.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.5.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.5.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.5.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.5.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.5.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.5.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.5.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.5.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.5.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.5.0/metadata/annotations.yaml
  operators/stackgres/1.5.0/tests/scorecard/config.yaml
  operators/stackgres/ci.yaml
Labels: operator-hosted-pipeline/started

#839 operator stackgres (1.6.0)
  operators/stackgres/1.6.0/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.0/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.6.0/manifests/stackgres-restapi_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.0/manifests/stackgres-restapi_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.6.0/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.6.0/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.0/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.0/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.6.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.6.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.6.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.6.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.6.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.6.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.6.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.6.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.6.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.6.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.6.0/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.6.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.6.0/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.6.0/metadata/annotations.yaml
  operators/stackgres/1.6.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#840 operator stackgres (1.6.1)
  operators/stackgres/1.6.1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.6.1/manifests/stackgres-restapi_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.1/manifests/stackgres-restapi_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.6.1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.6.1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.6.1/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.6.1/manifests/stackgres.io_sgbackupconfigs.yaml
  operators/stackgres/1.6.1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.6.1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.6.1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.6.1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.6.1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.6.1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.6.1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.6.1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.6.1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.6.1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.6.1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.6.1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.6.1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.6.1/metadata/annotations.yaml
  operators/stackgres/1.6.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#843 operator stackgres (1.7.0)
  operators/stackgres/1.7.0/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.7.0/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.7.0/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.7.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.7.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.7.0/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.7.0/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.7.0/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.7.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.7.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.7.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.7.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.7.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.7.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.7.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.7.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.7.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.7.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.7.0/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.7.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.7.0/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.7.0/metadata/annotations.yaml
  operators/stackgres/1.7.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#844 operator stackgres (1.8.0)
  operators/stackgres/1.8.0/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.8.0/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.8.0/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.8.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.8.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.8.0/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.8.0/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.8.0/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.8.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.8.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.8.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.8.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.8.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.8.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.8.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.8.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.8.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.8.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.8.0/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.8.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.8.0/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.8.0/metadata/annotations.yaml
  operators/stackgres/1.8.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#845 operator stackgres (1.8.1)
  operators/stackgres/1.8.1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.8.1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.8.1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.8.1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.8.1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.8.1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.8.1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.8.1/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.8.1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.8.1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.8.1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.8.1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.8.1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.8.1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.8.1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.8.1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.8.1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.8.1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.8.1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.8.1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.8.1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.8.1/metadata/annotations.yaml
  operators/stackgres/1.8.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#848 operator stackgres (1.11.0)
  operators/stackgres/1.11.0/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.11.0/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.11.0/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.11.0/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.11.0/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.11.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.11.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.11.0/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.11.0/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.11.0/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.11.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.11.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.11.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.11.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.11.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.11.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.11.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.11.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.11.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.11.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.11.0/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.11.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.11.0/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.11.0/metadata/annotations.yaml
  operators/stackgres/1.11.0/tests/scorecard/config.yaml
Labels: operator-release-pipeline/started, operator-hosted-pipeline/passed

#849 operator stackgres (1.12.0)
  operators/stackgres/1.12.0/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.12.0/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.12.0/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.12.0/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.12.0/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.12.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.12.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.12.0/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.12.0/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.12.0/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.12.0/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres/1.12.0/metadata/annotations.yaml
  operators/stackgres/1.12.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#851 operator k10-kasten-operator-rhmp (7.0.8)
  operators/k10-kasten-operator-rhmp/7.0.8/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-rhmp/7.0.8/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-rhmp/7.0.8/manifests/k10-kasten-operator-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-rhmp/7.0.8/manifests/k10-kasten-operator-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-rhmp/7.0.8/manifests/k10-kasten-operator-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-rhmp/7.0.8/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#850 operator stackgres (1.13.0-rc1)
  operators/stackgres/1.13.0-rc1/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.13.0-rc1/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres/1.13.0-rc1/metadata/annotations.yaml
  operators/stackgres/1.13.0-rc1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#852 operator k10-kasten-operator-term-rhmp (7.0.8)
  operators/k10-kasten-operator-term-rhmp/7.0.8/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-term-rhmp/7.0.8/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-term-rhmp/7.0.8/manifests/k10-kasten-operator-term-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-term-rhmp/7.0.8/manifests/k10-kasten-operator-term-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-term-rhmp/7.0.8/manifests/k10-kasten-operator-term-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-term-rhmp/7.0.8/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#853 operator k10-kasten-operator-paygo-rhmp (7.0.8)
  operators/k10-kasten-operator-paygo-rhmp/7.0.8/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.0.8/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.0.8/manifests/k10-kasten-operator-paygo-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.0.8/manifests/k10-kasten-operator-paygo-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.0.8/manifests/k10-kasten-operator-paygo-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.0.8/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#854 operator zabbix-operator-certified-rhmp (6.0.33)
  operators/zabbix-operator-certified-rhmp/6.0.33/manifests/kubernetes.zabbix.com_zabbixagent2s.yaml
  operators/zabbix-operator-certified-rhmp/6.0.33/manifests/kubernetes.zabbix.com_zabbixagents.yaml
  operators/zabbix-operator-certified-rhmp/6.0.33/manifests/kubernetes.zabbix.com_zabbixfulls.yaml
  operators/zabbix-operator-certified-rhmp/6.0.33/manifests/kubernetes.zabbix.com_zabbixproxymysqls.yaml
  operators/zabbix-operator-certified-rhmp/6.0.33/manifests/kubernetes.zabbix.com_zabbixproxysqlites.yaml
  operators/zabbix-operator-certified-rhmp/6.0.33/manifests/kubernetes.zabbix.com_zabbixservers.yaml
  operators/zabbix-operator-certified-rhmp/6.0.33/manifests/zabbix-operator-certified.clusterserviceversion.yaml
  operators/zabbix-operator-certified-rhmp/6.0.33/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#855 operator percona-xtradb-cluster-operator-certified-rhmp (1.15.0)
  operators/percona-xtradb-cluster-operator-certified-rhmp/1.15.0/manifests/percona-xtradb-cluster-operator.v1.15.0.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator-certified-rhmp/1.15.0/manifests/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator-certified-rhmp/1.15.0/manifests/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator-certified-rhmp/1.15.0/manifests/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator-certified-rhmp/1.15.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#856 operator percona-xtradb-cluster-operator-certified-rhmp (1.15.0-cw)
  operators/percona-xtradb-cluster-operator-certified-rhmp/1.15.0-cw/manifests/percona-xtradb-cluster-operator.v1.15.0-cw.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator-certified-rhmp/1.15.0-cw/manifests/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator-certified-rhmp/1.15.0-cw/manifests/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator-certified-rhmp/1.15.0-cw/manifests/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator-certified-rhmp/1.15.0-cw/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#858 operator redis-enterprise-operator-cert-rhmp (7.4.6-2.3)
  operators/redis-enterprise-operator-cert-rhmp/7.4.6-2.3/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.4.6-2.3/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.4.6-2.3/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.4.6-2.3/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.4.6-2.3/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.4.6-2.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#857 updating gitignore to exclude FBC related items
  .gitignore
Labels: operator-hosted-pipeline/failed

#860 operator k10-kasten-operator-rhmp (7.0.9)
  operators/k10-kasten-operator-rhmp/7.0.9/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-rhmp/7.0.9/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-rhmp/7.0.9/manifests/k10-kasten-operator-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-rhmp/7.0.9/manifests/k10-kasten-operator-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-rhmp/7.0.9/manifests/k10-kasten-operator-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-rhmp/7.0.9/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#861 operator k10-kasten-operator-term-rhmp (7.0.9)
  operators/k10-kasten-operator-term-rhmp/7.0.9/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-term-rhmp/7.0.9/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-term-rhmp/7.0.9/manifests/k10-kasten-operator-term-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-term-rhmp/7.0.9/manifests/k10-kasten-operator-term-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-term-rhmp/7.0.9/manifests/k10-kasten-operator-term-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-term-rhmp/7.0.9/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#862 operator k10-kasten-operator-paygo-rhmp (7.0.9)
  operators/k10-kasten-operator-paygo-rhmp/7.0.9/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.0.9/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.0.9/manifests/k10-kasten-operator-paygo-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.0.9/manifests/k10-kasten-operator-paygo-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.0.9/manifests/k10-kasten-operator-paygo-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.0.9/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#859 operator dynatrace-operator-rhmp (1.3.0)
  operators/dynatrace-operator-rhmp/1.3.0/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator-rhmp/1.3.0/manifests/dynatrace-operator-rhmp.clusterserviceversion.yaml
  operators/dynatrace-operator-rhmp/1.3.0/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator-rhmp/1.3.0/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator-rhmp/1.3.0/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator-rhmp/1.3.0/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator-rhmp/1.3.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#866 operator stackgres (1.13.0)
  operators/stackgres/1.13.0/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.13.0/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.13.0/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.13.0/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.13.0/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.13.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.13.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.13.0/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.13.0/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.13.0/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.13.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.13.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.13.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.13.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.13.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.13.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.13.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.13.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.13.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.13.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.13.0/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.13.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.13.0/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.13.0/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres/1.13.0/metadata/annotations.yaml
  operators/stackgres/1.13.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started
