Repository redhat-openshift-ecosystem/redhat-marketplace-operators, pull requests merged in 2024-04, with the labels that each got.

#726 operator datadog-operator-certified-rhmp (1.5.0)
  operators/datadog-operator-certified-rhmp/1.5.0/manifests/datadog-operator-certified-rhmp.clusterserviceversion.yaml
  operators/datadog-operator-certified-rhmp/1.5.0/manifests/datadog-operator-webhook-service_v1_service.yaml
  operators/datadog-operator-certified-rhmp/1.5.0/manifests/datadoghq.com_datadogagentprofiles.yaml
  operators/datadog-operator-certified-rhmp/1.5.0/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator-certified-rhmp/1.5.0/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator-certified-rhmp/1.5.0/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator-certified-rhmp/1.5.0/manifests/datadoghq.com_datadogslos.yaml
  operators/datadog-operator-certified-rhmp/1.5.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#727 operator couchbase-enterprise-certified-rhmp (2.6.2-1)
  operators/couchbase-enterprise-certified-rhmp/2.6.2-1/manifests/couchbase-v2.6.2.clusterserviceversion.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-1/manifests/couchbaseautoscalers.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-1/manifests/couchbasebackuprestores.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-1/manifests/couchbasebackups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-1/manifests/couchbasebuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-1/manifests/couchbaseclusters.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-1/manifests/couchbasecollectiongroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-1/manifests/couchbasecollections.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-1/manifests/couchbaseephemeralbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-1/manifests/couchbasegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-1/manifests/couchbasememcachedbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-1/manifests/couchbasemigrationreplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-1/manifests/couchbasereplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-1/manifests/couchbaserolebindings.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-1/manifests/couchbasescopegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-1/manifests/couchbasescopes.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-1/manifests/couchbaseusers.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.2-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#728 operator dynatrace-operator-rhmp (1.0.0)
  operators/dynatrace-operator-rhmp/1.0.0/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator-rhmp/1.0.0/manifests/dynatrace-high-priority_scheduling.k8s.io_v1_priorityclass.yaml
  operators/dynatrace-operator-rhmp/1.0.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator-rhmp/1.0.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator-rhmp/1.0.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_role.yaml
  operators/dynatrace-operator-rhmp/1.0.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dynatrace-operator-rhmp/1.0.0/manifests/dynatrace-oneagent-csi-driver_v1_serviceaccount.yaml
  operators/dynatrace-operator-rhmp/1.0.0/manifests/dynatrace-operator-rhmp.clusterserviceversion.yaml
  operators/dynatrace-operator-rhmp/1.0.0/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator-rhmp/1.0.0/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator-rhmp/1.0.0/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator-rhmp/1.0.0/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator-rhmp/1.0.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/failed, operator-release-pipeline/failed

#730 operator k10-kasten-operator-rhmp (6.5.11)
  operators/k10-kasten-operator-rhmp/6.5.11/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-rhmp/6.5.11/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-rhmp/6.5.11/manifests/k10-kasten-operator-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-rhmp/6.5.11/manifests/k10-kasten-operator-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-rhmp/6.5.11/manifests/k10-kasten-operator-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-rhmp/6.5.11/manifests/k10-kasten-operator-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-rhmp/6.5.11/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#731 operator k10-kasten-operator-term-rhmp (6.5.11)
  operators/k10-kasten-operator-term-rhmp/6.5.11/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-term-rhmp/6.5.11/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-term-rhmp/6.5.11/manifests/k10-kasten-operator-term-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-term-rhmp/6.5.11/manifests/k10-kasten-operator-term-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-term-rhmp/6.5.11/manifests/k10-kasten-operator-term-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-term-rhmp/6.5.11/manifests/k10-kasten-operator-term-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-term-rhmp/6.5.11/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#732 operator k10-kasten-operator-paygo-rhmp (6.5.11)
  operators/k10-kasten-operator-paygo-rhmp/6.5.11/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.5.11/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.5.11/manifests/k10-kasten-operator-paygo-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.5.11/manifests/k10-kasten-operator-paygo-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.5.11/manifests/k10-kasten-operator-paygo-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.5.11/manifests/k10-kasten-operator-paygo-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.5.11/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#733 operator cockroachdb-certified-rhmp (v2.14.0)
  operators/cockroachdb-certified-rhmp/v2.14.0/manifests/cockroach-operator-webhook-service_v1_service.yaml
  operators/cockroachdb-certified-rhmp/v2.14.0/manifests/cockroachdb-certified-rhmp.clusterserviceversion.yaml
  operators/cockroachdb-certified-rhmp/v2.14.0/manifests/crdb.cockroachlabs.com_crdbclusters.yaml
  operators/cockroachdb-certified-rhmp/v2.14.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#737 operator dynatrace-operator-rhmp (1.0.1)
  operators/dynatrace-operator-rhmp/1.0.1/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator-rhmp/1.0.1/manifests/dynatrace-operator-rhmp.clusterserviceversion.yaml
  operators/dynatrace-operator-rhmp/1.0.1/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator-rhmp/1.0.1/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator-rhmp/1.0.1/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator-rhmp/1.0.1/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator-rhmp/1.0.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#734 operator minio-operator-rhmp (5.0.14)
  operators/minio-operator-rhmp/5.0.14/manifests/console-env_v1_configmap.yaml
  operators/minio-operator-rhmp/5.0.14/manifests/console-sa-secret_v1_secret.yaml
  operators/minio-operator-rhmp/5.0.14/manifests/console_v1_service.yaml
  operators/minio-operator-rhmp/5.0.14/manifests/job.min.io_miniojobs.yaml
  operators/minio-operator-rhmp/5.0.14/manifests/minio-operator-rhmp.clusterserviceversion.yaml
  operators/minio-operator-rhmp/5.0.14/manifests/minio.min.io_tenants.yaml
  operators/minio-operator-rhmp/5.0.14/manifests/operator_v1_service.yaml
  operators/minio-operator-rhmp/5.0.14/manifests/sts.min.io_policybindings.yaml
  operators/minio-operator-rhmp/5.0.14/manifests/sts_v1_service.yaml
  operators/minio-operator-rhmp/5.0.14/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_upgrade_graph_loop

#740 operator k10-kasten-operator-rhmp (6.5.12)
  operators/k10-kasten-operator-rhmp/6.5.12/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-rhmp/6.5.12/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-rhmp/6.5.12/manifests/k10-kasten-operator-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-rhmp/6.5.12/manifests/k10-kasten-operator-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-rhmp/6.5.12/manifests/k10-kasten-operator-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-rhmp/6.5.12/manifests/k10-kasten-operator-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-rhmp/6.5.12/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#741 operator k10-kasten-operator-term-rhmp (6.5.12)
  operators/k10-kasten-operator-term-rhmp/6.5.12/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-term-rhmp/6.5.12/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-term-rhmp/6.5.12/manifests/k10-kasten-operator-term-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-term-rhmp/6.5.12/manifests/k10-kasten-operator-term-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-term-rhmp/6.5.12/manifests/k10-kasten-operator-term-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-term-rhmp/6.5.12/manifests/k10-kasten-operator-term-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-term-rhmp/6.5.12/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#744 operator stackgres (1.10.0-rc1)
  operators/stackgres/1.10.0-rc1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.10.0-rc1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.10.0-rc1/metadata/annotations.yaml
  operators/stackgres/1.10.0-rc1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#742 operator k10-kasten-operator-paygo-rhmp (6.5.12)
  operators/k10-kasten-operator-paygo-rhmp/6.5.12/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.5.12/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.5.12/manifests/k10-kasten-operator-paygo-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.5.12/manifests/k10-kasten-operator-paygo-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.5.12/manifests/k10-kasten-operator-paygo-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.5.12/manifests/k10-kasten-operator-paygo-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.5.12/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_upgrade_graph_loop, tests/skip/check_replaces_availability

#745 operator stackgres (1.10.0)
  operators/stackgres/1.10.0/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.10.0/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.10.0/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.10.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.10.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.10.0/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.10.0/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.10.0/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.10.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.10.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.10.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.10.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.10.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.10.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.10.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.10.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.10.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.10.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.10.0/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.10.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.10.0/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.10.0/metadata/annotations.yaml
  operators/stackgres/1.10.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started
