Repository redhat-openshift-ecosystem/redhat-marketplace-operators, pull requests merged in 2024-05, with the labels that each got.

#747 operator redis-enterprise-operator-cert-rhmp (7.4.2-12.0)
  operators/redis-enterprise-operator-cert-rhmp/7.4.2-12.0/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.4.2-12.0/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.4.2-12.0/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.4.2-12.0/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.4.2-12.0/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.4.2-12.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#752 operator k10-kasten-operator-rhmp (6.5.13)
  operators/k10-kasten-operator-rhmp/6.5.13/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-rhmp/6.5.13/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-rhmp/6.5.13/manifests/k10-kasten-operator-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-rhmp/6.5.13/manifests/k10-kasten-operator-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-rhmp/6.5.13/manifests/k10-kasten-operator-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-rhmp/6.5.13/manifests/k10-kasten-operator-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-rhmp/6.5.13/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_replaces_availability

#751 operator minio-operator-rhmp (5.0.15)
  operators/minio-operator-rhmp/5.0.15/manifests/console-env_v1_configmap.yaml
  operators/minio-operator-rhmp/5.0.15/manifests/console-sa-secret_v1_secret.yaml
  operators/minio-operator-rhmp/5.0.15/manifests/console_v1_service.yaml
  operators/minio-operator-rhmp/5.0.15/manifests/job.min.io_miniojobs.yaml
  operators/minio-operator-rhmp/5.0.15/manifests/minio-operator-rhmp.clusterserviceversion.yaml
  operators/minio-operator-rhmp/5.0.15/manifests/minio.min.io_tenants.yaml
  operators/minio-operator-rhmp/5.0.15/manifests/operator_v1_service.yaml
  operators/minio-operator-rhmp/5.0.15/manifests/sts.min.io_policybindings.yaml
  operators/minio-operator-rhmp/5.0.15/manifests/sts_v1_service.yaml
  operators/minio-operator-rhmp/5.0.15/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_upgrade_graph_loop

#753 operator k10-kasten-operator-term-rhmp (6.5.13)
  operators/k10-kasten-operator-term-rhmp/6.5.13/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-term-rhmp/6.5.13/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-term-rhmp/6.5.13/manifests/k10-kasten-operator-term-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-term-rhmp/6.5.13/manifests/k10-kasten-operator-term-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-term-rhmp/6.5.13/manifests/k10-kasten-operator-term-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-term-rhmp/6.5.13/manifests/k10-kasten-operator-term-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-term-rhmp/6.5.13/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_replaces_availability

#757 operator dynatrace-operator-rhmp (1.1.0)
  operators/dynatrace-operator-rhmp/1.1.0/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator-rhmp/1.1.0/manifests/dynatrace-operator-rhmp.clusterserviceversion.yaml
  operators/dynatrace-operator-rhmp/1.1.0/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator-rhmp/1.1.0/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator-rhmp/1.1.0/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator-rhmp/1.1.0/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator-rhmp/1.1.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#754 operator k10-kasten-operator-paygo-rhmp (6.5.13)
  operators/k10-kasten-operator-paygo-rhmp/6.5.13/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.5.13/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.5.13/manifests/k10-kasten-operator-paygo-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.5.13/manifests/k10-kasten-operator-paygo-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.5.13/manifests/k10-kasten-operator-paygo-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.5.13/manifests/k10-kasten-operator-paygo-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.5.13/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_replaces_availability

#743 operator instana-agent-operator-rhmp (v2.0.19)
  operators/instana-agent-operator-rhmp/v2.0.19/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator-rhmp/v2.0.19/manifests/instana-agent-operator-rhmp.clusterserviceversion.yaml
  operators/instana-agent-operator-rhmp/v2.0.19/manifests/instana.io_agents.yaml
  operators/instana-agent-operator-rhmp/v2.0.19/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator-rhmp/v2.0.19/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator-rhmp/v2.0.19/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator-rhmp/v2.0.19/metadata/annotations.yaml
  operators/instana-agent-operator-rhmp/v2.0.19/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#759 operator couchbase-enterprise-certified-rhmp (2.5.2-1)
  operators/couchbase-enterprise-certified-rhmp/2.5.2-1/manifests/couchbase-v2.5.2.clusterserviceversion.yaml
  operators/couchbase-enterprise-certified-rhmp/2.5.2-1/manifests/couchbaseautoscalers.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.5.2-1/manifests/couchbasebackuprestores.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.5.2-1/manifests/couchbasebackups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.5.2-1/manifests/couchbasebuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.5.2-1/manifests/couchbaseclusters.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.5.2-1/manifests/couchbasecollectiongroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.5.2-1/manifests/couchbasecollections.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.5.2-1/manifests/couchbaseephemeralbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.5.2-1/manifests/couchbasegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.5.2-1/manifests/couchbasememcachedbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.5.2-1/manifests/couchbasemigrationreplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.5.2-1/manifests/couchbasereplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.5.2-1/manifests/couchbaserolebindings.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.5.2-1/manifests/couchbasescopegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.5.2-1/manifests/couchbasescopes.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.5.2-1/manifests/couchbaseusers.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.5.2-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#760 operator instana-agent-operator-rhmp (v2.0.27)
  operators/instana-agent-operator-rhmp/v2.0.27/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator-rhmp/v2.0.27/manifests/instana-agent-operator-rhmp.clusterserviceversion.yaml
  operators/instana-agent-operator-rhmp/v2.0.27/manifests/instana.io_agents.yaml
  operators/instana-agent-operator-rhmp/v2.0.27/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator-rhmp/v2.0.27/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator-rhmp/v2.0.27/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator-rhmp/v2.0.27/metadata/annotations.yaml
  operators/instana-agent-operator-rhmp/v2.0.27/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#761 operator datadog-operator-certified-rhmp (1.6.0)
  operators/datadog-operator-certified-rhmp/1.6.0/manifests/datadog-operator-certified-rhmp.clusterserviceversion.yaml
  operators/datadog-operator-certified-rhmp/1.6.0/manifests/datadog-operator-webhook-service_v1_service.yaml
  operators/datadog-operator-certified-rhmp/1.6.0/manifests/datadoghq.com_datadogagentprofiles.yaml
  operators/datadog-operator-certified-rhmp/1.6.0/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator-certified-rhmp/1.6.0/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator-certified-rhmp/1.6.0/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator-certified-rhmp/1.6.0/manifests/datadoghq.com_datadogslos.yaml
  operators/datadog-operator-certified-rhmp/1.6.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#764 operator k10-kasten-operator-rhmp (6.5.14)
  operators/k10-kasten-operator-rhmp/6.5.14/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-rhmp/6.5.14/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-rhmp/6.5.14/manifests/k10-kasten-operator-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-rhmp/6.5.14/manifests/k10-kasten-operator-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-rhmp/6.5.14/manifests/k10-kasten-operator-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-rhmp/6.5.14/manifests/k10-kasten-operator-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-rhmp/6.5.14/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#766 operator k10-kasten-operator-paygo-rhmp (6.5.14)
  operators/k10-kasten-operator-paygo-rhmp/6.5.14/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.5.14/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.5.14/manifests/k10-kasten-operator-paygo-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.5.14/manifests/k10-kasten-operator-paygo-rhmp-manager-config_v1_configmap.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.5.14/manifests/k10-kasten-operator-paygo-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.5.14/manifests/k10-kasten-operator-paygo-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-paygo-rhmp/6.5.14/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#767 operator aerospike-kubernetes-operator-rhmp (3.3.0)
  operators/aerospike-kubernetes-operator-rhmp/3.3.0/manifests/aerospike-cluster_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator-rhmp/3.3.0/manifests/aerospike-kubernetes-operator.clusterserviceversion.yaml
  operators/aerospike-kubernetes-operator-rhmp/3.3.0/manifests/aerospike-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aerospike-kubernetes-operator-rhmp/3.3.0/manifests/aerospike-operator-manager-config_v1_configmap.yaml
  operators/aerospike-kubernetes-operator-rhmp/3.3.0/manifests/aerospike-operator-webhook-service_v1_service.yaml
  operators/aerospike-kubernetes-operator-rhmp/3.3.0/manifests/asdb.aerospike.com_aerospikeclusters.yaml
  operators/aerospike-kubernetes-operator-rhmp/3.3.0/metadata/annotations.yaml
  operators/aerospike-kubernetes-operator-rhmp/3.3.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#768 operator crunchy-postgres-operator-rhmp (5.5.2)
  operators/crunchy-postgres-operator-rhmp/5.5.2/Dockerfile
  operators/crunchy-postgres-operator-rhmp/5.5.2/manifests/crunchy-postgres-operator-rhmp.clusterserviceversion.yaml
  operators/crunchy-postgres-operator-rhmp/5.5.2/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator-rhmp/5.5.2/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator-rhmp/5.5.2/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator-rhmp/5.5.2/metadata/annotations.yaml
  operators/crunchy-postgres-operator-rhmp/5.5.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#773 operator instana-agent-operator-rhmp (v2.0.30)
  operators/instana-agent-operator-rhmp/v2.0.30/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator-rhmp/v2.0.30/manifests/instana-agent-operator-rhmp.clusterserviceversion.yaml
  operators/instana-agent-operator-rhmp/v2.0.30/manifests/instana.io_agents.yaml
  operators/instana-agent-operator-rhmp/v2.0.30/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator-rhmp/v2.0.30/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator-rhmp/v2.0.30/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator-rhmp/v2.0.30/metadata/annotations.yaml
  operators/instana-agent-operator-rhmp/v2.0.30/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name
