Repository redhat-openshift-ecosystem/redhat-marketplace-operators, pull requests merged in 2025-03, with the labels that each got.

#986 operator instana-agent-operator-rhmp (2.1.20)
  operators/instana-agent-operator-rhmp/2.1.20/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator-rhmp/2.1.20/manifests/instana-agent-operator-rhmp.clusterserviceversion.yaml
  operators/instana-agent-operator-rhmp/2.1.20/manifests/instana.io_agents.yaml
  operators/instana-agent-operator-rhmp/2.1.20/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator-rhmp/2.1.20/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator-rhmp/2.1.20/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator-rhmp/2.1.20/metadata/annotations.yaml
  operators/instana-agent-operator-rhmp/2.1.20/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#987 operator couchbase-enterprise-certified-rhmp (2.8.0-1)
  operators/couchbase-enterprise-certified-rhmp/2.8.0-1/manifests/couchbase-v2.8.0.clusterserviceversion.yaml
  operators/couchbase-enterprise-certified-rhmp/2.8.0-1/manifests/couchbaseautoscalers.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.8.0-1/manifests/couchbasebackuprestores.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.8.0-1/manifests/couchbasebackups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.8.0-1/manifests/couchbasebuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.8.0-1/manifests/couchbaseclusters.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.8.0-1/manifests/couchbasecollectiongroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.8.0-1/manifests/couchbasecollections.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.8.0-1/manifests/couchbaseephemeralbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.8.0-1/manifests/couchbasegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.8.0-1/manifests/couchbasememcachedbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.8.0-1/manifests/couchbasemigrationreplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.8.0-1/manifests/couchbasereplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.8.0-1/manifests/couchbaserolebindings.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.8.0-1/manifests/couchbasescopegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.8.0-1/manifests/couchbasescopes.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.8.0-1/manifests/couchbaseusers.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.8.0-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#988 operator redis-enterprise-operator-cert-rhmp (7.2.4-12.35)
  operators/redis-enterprise-operator-cert-rhmp/7.2.4-12.35/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.2.4-12.35/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.2.4-12.35/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.2.4-12.35/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.2.4-12.35/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.2.4-12.35/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#989 operator stackgres (1.15.2)
  operators/stackgres/1.15.2/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.2/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.15.2/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.15.2/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.2/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.15.2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.15.2/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.2/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.15.2/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.15.2/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.15.2/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.15.2/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.15.2/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.15.2/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.15.2/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.15.2/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.15.2/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.15.2/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.15.2/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.15.2/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.15.2/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.15.2/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.15.2/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres/1.15.2/metadata/annotations.yaml
  operators/stackgres/1.15.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#990 operator redis-enterprise-operator-cert-rhmp (7.4.6-6.3)
  operators/redis-enterprise-operator-cert-rhmp/7.4.6-6.3/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.4.6-6.3/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.4.6-6.3/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.4.6-6.3/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.4.6-6.3/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.4.6-6.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#992 operator aerospike-kubernetes-operator-rhmp (4.0.1)
  operators/aerospike-kubernetes-operator-rhmp/4.0.1/manifests/aerospike-cluster_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator-rhmp/4.0.1/manifests/aerospike-kubernetes-operator.clusterserviceversion.yaml
  operators/aerospike-kubernetes-operator-rhmp/4.0.1/manifests/aerospike-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aerospike-kubernetes-operator-rhmp/4.0.1/manifests/aerospike-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aerospike-kubernetes-operator-rhmp/4.0.1/manifests/aerospike-operator-webhook-service_v1_service.yaml
  operators/aerospike-kubernetes-operator-rhmp/4.0.1/manifests/asdb.aerospike.com_aerospikebackups.yaml
  operators/aerospike-kubernetes-operator-rhmp/4.0.1/manifests/asdb.aerospike.com_aerospikebackupservices.yaml
  operators/aerospike-kubernetes-operator-rhmp/4.0.1/manifests/asdb.aerospike.com_aerospikeclusters.yaml
  operators/aerospike-kubernetes-operator-rhmp/4.0.1/manifests/asdb.aerospike.com_aerospikerestores.yaml
  operators/aerospike-kubernetes-operator-rhmp/4.0.1/metadata/annotations.yaml
  operators/aerospike-kubernetes-operator-rhmp/4.0.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#991 operator redis-enterprise-operator-cert-rhmp (7.8.4-9.0)
  operators/redis-enterprise-operator-cert-rhmp/7.8.4-9.0/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.8.4-9.0/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.8.4-9.0/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.8.4-9.0/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.8.4-9.0/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.8.4-9.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#993 operator k10-kasten-operator-rhmp (7.5.7)
  operators/k10-kasten-operator-rhmp/7.5.7/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-rhmp/7.5.7/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-rhmp/7.5.7/manifests/k10-kasten-operator-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-rhmp/7.5.7/manifests/k10-kasten-operator-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-rhmp/7.5.7/manifests/k10-kasten-operator-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-rhmp/7.5.7/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#994 operator k10-kasten-operator-term-rhmp (7.5.7)
  operators/k10-kasten-operator-term-rhmp/7.5.7/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-term-rhmp/7.5.7/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-term-rhmp/7.5.7/manifests/k10-kasten-operator-term-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-term-rhmp/7.5.7/manifests/k10-kasten-operator-term-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-term-rhmp/7.5.7/manifests/k10-kasten-operator-term-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-term-rhmp/7.5.7/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#995 operator k10-kasten-operator-paygo-rhmp (7.5.7)
  operators/k10-kasten-operator-paygo-rhmp/7.5.7/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.5.7/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.5.7/manifests/k10-kasten-operator-paygo-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.5.7/manifests/k10-kasten-operator-paygo-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.5.7/manifests/k10-kasten-operator-paygo-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.5.7/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#996 operator datadog-operator-certified-rhmp (1.13.0)
  operators/datadog-operator-certified-rhmp/1.13.0/manifests/datadog-operator-certified-rhmp.clusterserviceversion.yaml
  operators/datadog-operator-certified-rhmp/1.13.0/manifests/datadog-operator-webhook-service_v1_service.yaml
  operators/datadog-operator-certified-rhmp/1.13.0/manifests/datadoghq.com_datadogagentprofiles.yaml
  operators/datadog-operator-certified-rhmp/1.13.0/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator-certified-rhmp/1.13.0/manifests/datadoghq.com_datadogdashboards.yaml
  operators/datadog-operator-certified-rhmp/1.13.0/manifests/datadoghq.com_datadoggenericresources.yaml
  operators/datadog-operator-certified-rhmp/1.13.0/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator-certified-rhmp/1.13.0/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator-certified-rhmp/1.13.0/manifests/datadoghq.com_datadogpodautoscalers.yaml
  operators/datadog-operator-certified-rhmp/1.13.0/manifests/datadoghq.com_datadogslos.yaml
  operators/datadog-operator-certified-rhmp/1.13.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#997 operator percona-postgresql-operator-certified-rhmp (2.6.0)
  operators/percona-postgresql-operator-certified-rhmp/2.6.0/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified-rhmp/2.6.0/manifests/percona-postgresql-operator.v2.6.0.clusterserviceversion.yaml
  operators/percona-postgresql-operator-certified-rhmp/2.6.0/manifests/perconapgbackups.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified-rhmp/2.6.0/manifests/perconapgclusters.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified-rhmp/2.6.0/manifests/perconapgrestores.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified-rhmp/2.6.0/manifests/perconapgupgrades.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified-rhmp/2.6.0/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified-rhmp/2.6.0/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified-rhmp/2.6.0/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified-rhmp/2.6.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#999 operator stackgres (1.16.0-rc1)
  operators/stackgres/1.16.0-rc1/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.16.0-rc1/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres/1.16.0-rc1/metadata/annotations.yaml
  operators/stackgres/1.16.0-rc1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#1000 operator k10-kasten-operator-rhmp (7.5.8)
  operators/k10-kasten-operator-rhmp/7.5.8/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-rhmp/7.5.8/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-rhmp/7.5.8/manifests/k10-kasten-operator-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-rhmp/7.5.8/manifests/k10-kasten-operator-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-rhmp/7.5.8/manifests/k10-kasten-operator-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-rhmp/7.5.8/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#1001 operator k10-kasten-operator-term-rhmp (7.5.8)
  operators/k10-kasten-operator-term-rhmp/7.5.8/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-term-rhmp/7.5.8/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-term-rhmp/7.5.8/manifests/k10-kasten-operator-term-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-term-rhmp/7.5.8/manifests/k10-kasten-operator-term-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-term-rhmp/7.5.8/manifests/k10-kasten-operator-term-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-term-rhmp/7.5.8/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#1002 operator k10-kasten-operator-paygo-rhmp (7.5.8)
  operators/k10-kasten-operator-paygo-rhmp/7.5.8/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.5.8/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.5.8/manifests/k10-kasten-operator-paygo-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.5.8/manifests/k10-kasten-operator-paygo-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.5.8/manifests/k10-kasten-operator-paygo-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-paygo-rhmp/7.5.8/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#1005 operator couchbase-enterprise-certified-rhmp (2.8.0-2)
  operators/couchbase-enterprise-certified-rhmp/2.8.0-2/manifests/couchbase-v2.8.0.clusterserviceversion.yaml
  operators/couchbase-enterprise-certified-rhmp/2.8.0-2/manifests/couchbaseautoscalers.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.8.0-2/manifests/couchbasebackuprestores.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.8.0-2/manifests/couchbasebackups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.8.0-2/manifests/couchbasebuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.8.0-2/manifests/couchbaseclusters.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.8.0-2/manifests/couchbasecollectiongroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.8.0-2/manifests/couchbasecollections.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.8.0-2/manifests/couchbaseephemeralbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.8.0-2/manifests/couchbasegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.8.0-2/manifests/couchbasememcachedbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.8.0-2/manifests/couchbasemigrationreplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.8.0-2/manifests/couchbasereplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.8.0-2/manifests/couchbaserolebindings.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.8.0-2/manifests/couchbasescopegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.8.0-2/manifests/couchbasescopes.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.8.0-2/manifests/couchbaseusers.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.8.0-2/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#1006 operator couchbase-enterprise-certified-rhmp (2.7.0-4)
  operators/couchbase-enterprise-certified-rhmp/2.7.0-4/manifests/couchbase-v2.7.0.clusterserviceversion.yaml
  operators/couchbase-enterprise-certified-rhmp/2.7.0-4/manifests/couchbaseautoscalers.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.7.0-4/manifests/couchbasebackuprestores.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.7.0-4/manifests/couchbasebackups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.7.0-4/manifests/couchbasebuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.7.0-4/manifests/couchbaseclusters.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.7.0-4/manifests/couchbasecollectiongroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.7.0-4/manifests/couchbasecollections.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.7.0-4/manifests/couchbaseephemeralbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.7.0-4/manifests/couchbasegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.7.0-4/manifests/couchbasememcachedbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.7.0-4/manifests/couchbasemigrationreplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.7.0-4/manifests/couchbasereplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.7.0-4/manifests/couchbaserolebindings.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.7.0-4/manifests/couchbasescopegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.7.0-4/manifests/couchbasescopes.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.7.0-4/manifests/couchbaseusers.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.7.0-4/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#1007 operator couchbase-enterprise-certified-rhmp (2.6.4-7)
  operators/couchbase-enterprise-certified-rhmp/2.6.4-7/manifests/couchbase-v2.6.4.clusterserviceversion.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.4-7/manifests/couchbaseautoscalers.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.4-7/manifests/couchbasebackuprestores.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.4-7/manifests/couchbasebackups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.4-7/manifests/couchbasebuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.4-7/manifests/couchbaseclusters.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.4-7/manifests/couchbasecollectiongroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.4-7/manifests/couchbasecollections.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.4-7/manifests/couchbaseephemeralbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.4-7/manifests/couchbasegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.4-7/manifests/couchbasememcachedbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.4-7/manifests/couchbasemigrationreplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.4-7/manifests/couchbasereplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.4-7/manifests/couchbaserolebindings.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.4-7/manifests/couchbasescopegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.4-7/manifests/couchbasescopes.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.4-7/manifests/couchbaseusers.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.6.4-7/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#1009 operator cockroachdb-certified-rhmp (v2.18.0)
  operators/cockroachdb-certified-rhmp/v2.18.0/manifests/cockroach-operator-webhook-service_v1_service.yaml
  operators/cockroachdb-certified-rhmp/v2.18.0/manifests/cockroachdb-certified-rhmp.clusterserviceversion.yaml
  operators/cockroachdb-certified-rhmp/v2.18.0/manifests/crdb.cockroachlabs.com_crdbclusters.yaml
  operators/cockroachdb-certified-rhmp/v2.18.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#1010 operator percona-postgresql-operator-certified-rhmp (2.6.0-cw)
  operators/percona-postgresql-operator-certified-rhmp/2.6.0-cw/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified-rhmp/2.6.0-cw/manifests/percona-postgresql-operator.v2.6.0.clusterserviceversion.yaml
  operators/percona-postgresql-operator-certified-rhmp/2.6.0-cw/manifests/perconapgbackups.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified-rhmp/2.6.0-cw/manifests/perconapgclusters.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified-rhmp/2.6.0-cw/manifests/perconapgrestores.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified-rhmp/2.6.0-cw/manifests/perconapgupgrades.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified-rhmp/2.6.0-cw/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified-rhmp/2.6.0-cw/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified-rhmp/2.6.0-cw/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified-rhmp/2.6.0-cw/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#1013 operator couchbase-enterprise-certified-rhmp (2.7.0-5)
  operators/couchbase-enterprise-certified-rhmp/2.7.0-5/manifests/couchbase-v2.7.0.clusterserviceversion.yaml
  operators/couchbase-enterprise-certified-rhmp/2.7.0-5/manifests/couchbaseautoscalers.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.7.0-5/manifests/couchbasebackuprestores.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.7.0-5/manifests/couchbasebackups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.7.0-5/manifests/couchbasebuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.7.0-5/manifests/couchbaseclusters.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.7.0-5/manifests/couchbasecollectiongroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.7.0-5/manifests/couchbasecollections.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.7.0-5/manifests/couchbaseephemeralbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.7.0-5/manifests/couchbasegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.7.0-5/manifests/couchbasememcachedbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.7.0-5/manifests/couchbasemigrationreplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.7.0-5/manifests/couchbasereplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.7.0-5/manifests/couchbaserolebindings.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.7.0-5/manifests/couchbasescopegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.7.0-5/manifests/couchbasescopes.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.7.0-5/manifests/couchbaseusers.couchbase.com.yaml
  operators/couchbase-enterprise-certified-rhmp/2.7.0-5/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#1011 operator redis-enterprise-operator-cert-rhmp (7.8.6-1.0)
  operators/redis-enterprise-operator-cert-rhmp/7.8.6-1.0/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.8.6-1.0/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.8.6-1.0/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.8.6-1.0/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.8.6-1.0/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.8.6-1.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#1014 operator stackgres (1.16.0-rc2)
  operators/stackgres/1.16.0-rc2/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.16.0-rc2/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres/1.16.0-rc2/metadata/annotations.yaml
  operators/stackgres/1.16.0-rc2/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started
