Repository redhat-openshift-ecosystem/redhat-marketplace-operators, pull requests merged in 2025-05, with the labels that each got.

#1043 operator redis-enterprise-operator-cert-rhmp (7.8.6-1.2)
  operators/redis-enterprise-operator-cert-rhmp/7.8.6-1.2/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.8.6-1.2/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.8.6-1.2/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.8.6-1.2/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.8.6-1.2/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert-rhmp/7.8.6-1.2/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#1046 operator stackgres (1.16.2)
  operators/stackgres/1.16.2/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.2/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.16.2/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.16.2/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.2/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.16.2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.16.2/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.2/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.2/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.16.2/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.16.2/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.16.2/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.16.2/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.16.2/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.16.2/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.16.2/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.16.2/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.16.2/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.16.2/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.16.2/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.16.2/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.16.2/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.16.2/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres/1.16.2/metadata/annotations.yaml
  operators/stackgres/1.16.2/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#1047 operator crunchy-postgres-operator-rhmp (5.8.2)
  operators/crunchy-postgres-operator-rhmp/5.8.2/Dockerfile
  operators/crunchy-postgres-operator-rhmp/5.8.2/manifests/crunchy-postgres-operator-rhmp.clusterserviceversion.yaml
  operators/crunchy-postgres-operator-rhmp/5.8.2/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator-rhmp/5.8.2/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator-rhmp/5.8.2/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator-rhmp/5.8.2/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator-rhmp/5.8.2/metadata/annotations.yaml
  operators/crunchy-postgres-operator-rhmp/5.8.2/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#1048 operator k10-kasten-operator-rhmp (8.0.0)
  operators/k10-kasten-operator-rhmp/8.0.0/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-rhmp/8.0.0/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-rhmp/8.0.0/manifests/k10-kasten-operator-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-rhmp/8.0.0/manifests/k10-kasten-operator-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-rhmp/8.0.0/manifests/k10-kasten-operator-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-rhmp/8.0.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#1050 operator k10-kasten-operator-paygo-rhmp (8.0.0)
  operators/k10-kasten-operator-paygo-rhmp/8.0.0/manifests/apik10.kasten.io_k10restores.yaml
  operators/k10-kasten-operator-paygo-rhmp/8.0.0/manifests/apik10.kasten.io_k10s.yaml
  operators/k10-kasten-operator-paygo-rhmp/8.0.0/manifests/k10-kasten-operator-paygo-rhmp-controller-manager-metrics-service_v1_service.yaml
  operators/k10-kasten-operator-paygo-rhmp/8.0.0/manifests/k10-kasten-operator-paygo-rhmp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/k10-kasten-operator-paygo-rhmp/8.0.0/manifests/k10-kasten-operator-paygo-rhmp.clusterserviceversion.yaml
  operators/k10-kasten-operator-paygo-rhmp/8.0.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#1052 operator sumologic-kubernetes-collection-helm-operator-rhmp (4.9.0-3)
  operators/sumologic-kubernetes-collection-helm-operator-rhmp/4.9.0-3/manifests/helm-operator.sumologic.com_sumologiccollections.yaml
  operators/sumologic-kubernetes-collection-helm-operator-rhmp/4.9.0-3/manifests/operator.clusterserviceversion.yaml
  operators/sumologic-kubernetes-collection-helm-operator-rhmp/4.9.0-3/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#1054 operator percona-server-mongodb-operator-certified-rhmp (1.20.0)
  operators/percona-server-mongodb-operator-certified-rhmp/1.20.0/manifests/percona-server-mongodb-operator.clusterserviceversion.yaml
  operators/percona-server-mongodb-operator-certified-rhmp/1.20.0/manifests/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator-certified-rhmp/1.20.0/manifests/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator-certified-rhmp/1.20.0/manifests/perconaservermongodbs.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator-certified-rhmp/1.20.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#1055 removing crunchy 5.8.2 so partner can raise a fix
  operators/crunchy-postgres-operator-rhmp/5.8.2/Dockerfile
  operators/crunchy-postgres-operator-rhmp/5.8.2/manifests/crunchy-postgres-operator-rhmp.clusterserviceversion.yaml
  operators/crunchy-postgres-operator-rhmp/5.8.2/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator-rhmp/5.8.2/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator-rhmp/5.8.2/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator-rhmp/5.8.2/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator-rhmp/5.8.2/metadata/annotations.yaml
  operators/crunchy-postgres-operator-rhmp/5.8.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/failed

#1056 operator crunchy-postgres-operator-rhmp (5.8.2)
  operators/crunchy-postgres-operator-rhmp/5.8.2/Dockerfile
  operators/crunchy-postgres-operator-rhmp/5.8.2/manifests/crunchy-postgres-operator-rhmp.clusterserviceversion.yaml
  operators/crunchy-postgres-operator-rhmp/5.8.2/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator-rhmp/5.8.2/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator-rhmp/5.8.2/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator-rhmp/5.8.2/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator-rhmp/5.8.2/metadata/annotations.yaml
  operators/crunchy-postgres-operator-rhmp/5.8.2/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#1060 operator stackgres (1.16.3)
  operators/stackgres/1.16.3/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.3/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.16.3/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres/1.16.3/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.3/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres/1.16.3/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.3/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres/1.16.3/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.3/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres/1.16.3/manifests/stackgres.clusterserviceversion.yaml
  operators/stackgres/1.16.3/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres/1.16.3/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres/1.16.3/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres/1.16.3/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres/1.16.3/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres/1.16.3/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres/1.16.3/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres/1.16.3/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres/1.16.3/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres/1.16.3/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres/1.16.3/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres/1.16.3/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres/1.16.3/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres/1.16.3/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres/1.16.3/metadata/annotations.yaml
  operators/stackgres/1.16.3/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started
